
.blackd{
 background-color: #1d1919;
 text-align: center;
 color: white;
 padding: 0.3rem;
}
.list-inline-item{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
}
.title{
    padding: 2rem;
}
.about{
    background-color: black;
    color: white; padding: 1rem;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.social-icon{
   margin: 0.8rem;
   font-size: 28px;
}
.white-section{
    background-color: white;
    color: black;
}
#of{
    position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}
.list-inline .a{
    color: white !important;
}
@media (max-width: 850px) {
    .blackd{
        font-size: 0.9rem;
        padding: 0.2rem;
    }
    .list-inline-item{
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        padding-top: 0.4rem;
    }
}